<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello Admin !</h1>
    <p>
      One account has been created !
    </p>
    <p>
      Please active it follow this link : <%= @url %>.
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>